<div class="group-box-container">
  <table class="mdl-data-table mdl-shadow--2dp">
    <tr class="header-row" id="<%= name %>">
      <th><%= (name.itize != 'HookIT' ? name.itize : 'âš”ï¸WANTEDðŸº') %></th>
    </tr>
    <% users.each do |user| %>
      <tr>
        <td class="user-row">
        <%= link_to user.nick, stats_path(user.id) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
