<% if current_user.devices.empty? %>
  <div>You don't seem to have any MAC-addresses defined, go to your <%= link_to "user page", edit_user_path(current_user) %> and add some!</div>
<% end %>

<h3>Active sessions</h3>

<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <tbody>
		<% @sessions.each do |session| %>
            <tr>
            	<td class="user-row">
            		<%= link_to session.user.nick, stats_path(session.user.cid) %>
            	</td>
                <td class="time-cell">
  					<%= "Since " + session.start_time.strftime('%H:%M') %> 
  					(<%= distance_of_time_in_words_to_now session.start_time %>)
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
