<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <tbody>
        <% @users.each do |user| %>
            <tr class="user">
                <td><%= link_to user.cid, user %></td>
            </tr>
        <% end %>
    </tbody>
</table>
