<h1><%= @user.cid %></h1>

<ul>
	<% @user.devices.each do |d| %>
		<li><%= d.address %></li>
	<% end %>
	<%= 'No devices found' if @user.devices.empty? %>
</ul>

<%= link_to "Add new device", new_user_mac_address_path(@user) %>