<section class="profile">
	<h1><%= @user.cid %></h1>
	<% @user.devices.each do |d| %>
		<div><%= d.address %></div>
	<% end %>
	<% if @user.devices.empty? %>
		<div>No devices found</div>
	<% end %>
	<%= 'No devices found' if @user.devices.empty? %>
	<% #Replace with a real form. And ajax. Ajax is nice. %>
	<%= link_to "Add new device", edit_user_path(@user) %>
</section>
</ul>
