<section class="profile">
	<h1><%= @user.nick %></h1>
	<ul class="device-list">
	<% @user.devices.each do |d| %>
		<li class="mac-address"><%= d.address %></li>
	<% end %>
	<% if @user.devices.empty? %>
		<li>No devices found</li>
	<% end %>
	</ul>
	<% if @user == current_user %>
		<%= link_to "Add new device", edit_user_path(@user), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" %>
		<!-- Raised button with ripple -->

	<% end %>
</section>
