/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require material
 *= require_self
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}

body {
	font-family: 'Roboto'
}

header {
	background-color: #0097a7;
	border: 1px solid;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.3em;
}

.title-link {
  	color: #FFF;
  	&:hover {
  		color: #FFF;
  	}
}

a {
	color: #005C95;
	font-weight: 700;
}

 #wrapper {
 	margin: 0 auto;
 	display: block;
 	position: relative;
 	width: 90%;
 	text-align: center;
 	padding: 2em 0;

 }

 ul {
 	list-style-type: none;
 	list-style-position: inside;
 	padding: 0;
 }

 td.user-row {
 	text-align: left;
 }

 td.time-cell {
 	text-align: left;
 }


