$text-color: #999;
body {
  background-color: #F1F1F1;
  font-family: 'Roboto', sans-serif;
}
header {
  h1 {
    a {
      color: #000;
      &:hover {
        color: $text-color;
      }
    }
    text-shadow: 0 0 2px #000;
    text-align: center;
  }

  nav {
    text-align: center;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        a:hover {
          color: darken($text-color, 80);
        }
      }
    }
  }
}

a {
  color: $text-color;
  text-decoration: none;
}

.users {
  box-shadow: 0 0 1px #000;
  background-color: gray;
  flex-direction: column;
  display: flex;
  padding: 2px;

  .user {
    background-color: #FFF;
    font-size: 1.1em;
    padding: 5px;
    margin: 1px;
    flex: 1;
  }
}
