$text-color: #999;

body {
  background-color: #F1F1F1;
  font-family: 'Roboto', sans-serif;
}

header {
  h1 {
    text-align: center;

    .title-link {
      @media screen and (max-width: 580px) {
        font-size: 30px;
        font-weight: normal;
      }
    }
    a {
      color: #000;
      &:hover {
        color: $text-color;
      }
    }
  }

  nav {
    text-align: center;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        display: inline-block;
        a:hover {
          color: darken($text-color, 80);
        }
      }
    }
  }
}

a {
  color: $text-color;
  text-decoration: none;
}

.users {
  box-shadow: 0 0 1px #000;
  background-color: gray;
  flex-direction: column;
  display: flex;
  padding: 2px;

  .user {
    background-color: #FFF;
    font-size: 1.1em;
    padding: 5px;
    margin: 1px;
    flex: 1;
  }
}

.mdl-data-table {
	border: none;
	border-radius: 2px;
	overflow: hidden;

	tr.header-row th {
		color: #fff;
	}

	tr.header-row {
		font-weight: bold;
		background-color: rgb(0, 179, 230);
	}

	tr:first-child td, tr:nth-child(2) td {
		border-top: none;
	}

	tr:last-child td {
		border-bottom: none;
	}
}