// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.active-sessions-container {

}

.active-groups-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
    @media (min-width: 767px ) {
	    position: absolute;
	    top: 0;
	    right: 0em;
	    width: 40%;
    }
}

.group-box-container {
	margin: 0.5em;
}