// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 2000px;

  .active-sessions-container {
      color: #666;
      margin: 0 0 1em;
      display: flex;
      justify-content: center;
      min-width: 55%;
      table {
        width: 90%;
      }
      @media (min-width: 600px) {
        table {
          min-width: 400px;
        }
      }

      div > table:first-child {
          margin-top: 15px;
      }

    .status-cell {
      text-align: center;
    }
  }

  .active-groups-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;
      padding: 2em 0;
      width: 45%;
      @media (max-width: 810px) {
        width: 100%;
      }
  }

  .user-row a {
      transition: opacity 50ms ease-in;
  }

  .animate .user-row a {
      opacity: 0.8;
  }

  .noone {
      color: gray;
  }

  .group-box-container {
    margin: 0 0.5em 1em;
    width: 150px;
    flex: 1;
    flex-basis: 150px;
    table {
      width: inherit;
    }
  }

  .mdl-data-table tbody tr:hover {
      background-color: #00b3e6;
  }

  tr#hookit {
    background: image-url("wanted.png");
    th {
      color: #282828;
      font-family: "Rye";
      font-size: 1em;
    }
  }
  tr#fikit { 
    background: image-url("fikit.png");
    th {
      color: white;
      font-size: 1em;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    } 
  }
  tr#prit {
    background: image-url("pritbak.png");
    th {
      color: white;
    }
  }

  tr#nollkit {
    background: image-url("nollkit.png");
    th {
      opacity: 0;
    }
  }

  tr#digit {
    background: image-url("digit.png");
    th {
      color: white;
    }
  }
  tr#styrit {
    background: image-url("styritsvagn.jpg");
    th {
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }
  tr#drawit {
    background: image-url("drawit.png");
    th {
      color: white;
    }
  }
  tr#valberedningen {
    background: image-url("valleb.png");
    th {
      color: white;
      text-align: end;
    }
  }
}
