// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.active-sessions-container {
    color: #666;
    margin: 0 0 1em;

    div > table:first-child {
        margin-top: 15px;
    }

	.status-cell {
		text-align: center;
	}
}

.active-groups-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0em;
    width: 30%;
    max-width: 40%;
    flex-direction: row-reverse;
    padding: 2em 0;

    @media (max-width: 929px) {
    	position: static;
    	flex-direction: row;
    	justify-content: center;
    	max-width: 23em;
    	margin: 0 auto;
    	padding: 0;
    }
}

.user-row a {
    transition: opacity 50ms ease-in;
}

.animate .user-row a {
    opacity: 0.8;
}

.noone {
    color: gray;
}

.group-box-container {
	margin: 0 0.5em 1em;
}

.mdl-data-table tbody tr:hover {
    background-color: #00b3e6;
}

tr#HookIT {
    background: image-url("wanted.png");
    th {
        color: #282828;
        font-family: "Rye";
        font-size: 1em;
    }
}
