// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-size: 4em;
	margin: 0;
}

.show-section {
	margin: 2em;
}

.info-dashboard {
	display: flex;
	margin: 2em 0;
}

.info-container {
	border: 1px solid;
	margin-left: 1em;
	flex-grow: 1;

	&:first-child { margin-left: 0; }

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.info-header {
		background-color: rgba(0, 151, 167, 0.5);
		margin: 0;
		padding: 0.3em;
		font-size: 1.2em;
		border-bottom: 1px solid
	}

	.info-text {
		display:flex;
		justify-content:center;
		align-items:center;
		padding: 0.4em;
		height: 4em
	}
}


.graph-container {
	border: 1px solid;
	.graph-header {
			background-color: rgba(0, 151, 167, 0.5);
			margin: 0;
			padding: 0.3em;
			border-bottom: 1px solid
	}
}


.stats-graph {
	padding-top: 1em;
	margin: 0 auto;
	display: block;

}

.active td:first-child {
	box-shadow: 3px 0 0 green inset;
}
