// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    margin: 0 auto;
}

.profile {
  margin: 0 20px;
  font-size: 1.3em;

  thead td {
      background-color: #44AEDB;
      color: #fff;
  }
}

.mac-address {
    font-family: monospace;
    font-size: 1.0em;
}

.devices {
	max-width: 720px;
	margin: 0 auto;
}

.device {
	padding: 0 10px;

	input {
		padding: 1px 3px;
		&:focus {
			border-bottom: 1px solid #09CDDA;
			transition: all 1s ease-in 0s;
		}
	}
}

.mdl-button {
    margin-top: 1em;
}

.field_with_errors input {
    border-color: #e53935;
}