<h1>Stats#index</h1>

<h2>curr:</h2><%= seconds_to_words(@last_session) if @last_session %><br>
<h2>sum:</h2><%= seconds_to_units(@total_time) if @total_time %> <br>

<canvas id="chart" width="300" height="300"></canvas>
