
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
<tr class="header-row">
  <td > 
 	#
  </td>
  <td class="user-row">
  	Name
  </td>
  <td>
      Total time
  </td>
  <td>
      Score
  </td>
</tr>
<% @total_time.each_with_index do |user, index| %>
<tr>
  <td > 
  <%= index+1 %>
  </td>
  <td class="user-row">
      <%= link_to User.nick(user.user_id), stats_path(user.user_id) %>
  </td>
  <td>
      <%= seconds_to_units(user.total_time) %>
  </td>
  <td>
      <%= seconds_to_score(user.total_time) %>
  </td>
</tr>
<% end%>
</table>

<canvas id="chart" class="stats-graph" data-url="/stats/hours.json" width="1200" height="300"></canvas>
