<h1>Stats#show</h1>

<h2>Latest session</h2>
<%= seconds_to_words(@last_session) if @last_session %><br>
<h2>Total sum</h2>
<%= seconds_to_units(@total_time) if @total_time %> <br>

<h2>Hours at the Hub</h2>
<canvas id="chart" width="600" height="200"></canvas>
