<nav>
	<ul class="menu">
		<li><%= link_to 'Me', current_user %></li> |
		<li><%= link_to 'Smurfs in  the Hubb', sessions_path %></li> |
		<li><%= link_to 'Stats', all_stats_path %></li> |
		<li><%= link_to 'My stats', stats_path(current_user.cid) %></li>
	</ul>
</nav>
